asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
coverage==7.8.2
cryptography==45.0.2
django==5.2.1
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.0
idna==3.10
iniconfig==2.1.0
markupsafe==3.0.2
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pycparser==2.22
pyopenssl==25.1.0
pytest==8.3.5
pytest-cov==6.1.1
pytest-mock==3.14.0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
requests-mock==1.12.1
sqlparse==0.5.3
types-pytz==2025.2.0.20250516
types-requests==2.32.0.20250515
typing-extensions==4.13.2
urllib3==2.4.0
werkzeug==3.1.3
